Source: sepiida
Section: misc
Priority: optional
Maintainer: Linnea Skogtvedt
Build-Depends: debhelper (>= 5), python (>= 2.4), dh-python,
 python-distutils-extra
Standards-Version: 3.7.3
Homepage: http://sepiida.linuxavdelingen.no

Package: sepiida-common
Architecture: all
Depends: ${python:Depends}
Description: Support tool for LTSP, NX or workstation users
 Common files for the Sepiida support tool

Package: sepiida-server
Architecture: all
Depends: ${python:Depends}, sepiida-common, python-twisted-core (>= 8.0.1),
 python-twisted-conch (>= 8.0.0), python-simplejson, ssh-server, socat,
 logrotate, python-pyparsing (>= 1.5.0)
Description: Support tool for LTSP, NX or workstation users
 Server part of the Sepiida support tool

Package: sepiida-agent
Architecture: all
Depends: ${python:Depends}, sepiida-common, python-twisted-core (>= 8.0.1),
 python-twisted-conch (>= 8.0.0), python-simplejson, sudo, ssh-server,
 screenshoter, x11vnc (>= 0.9.3), tightvncserver, xdg-utils
Description: Support tool for LTSP, NX or workstation users
 Agent part of the Sepiida support tool

Package: sepiida-gtk
Architecture: all
Depends: ${python:Depends}, sepiida-common, python-gtk2, python-simplejson,
 openssh-client, xtightvncviewer, socat
Description: Support tool for LTSP, NX or workstation users
 GTK+ client for the Sepiida support tool
